%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% coding: utf-8

%% the Erlang node name of tested ejabberd/MongooseIM
{ejabberd_node, 'ejabberd@localhost'}.
{ejabberd2_node, 'ejabberd2@localhost'}.
{ejabberd_cookie, ejabberd}.
%% the main XMPP domain served by the tested ejabberd/MongooseIM
{ejabberd_domain, <<"localhost">>}.
%% the server host name or ip addres
{ejabberd_addr, <<"127.0.0.1">>}.
{ejabberd_secondary_domain, <<"localhost.bis">>}.
{ejabberd_reloaded_domain, <<"sogndal">>}.
{ejabberd_metrics_rest_port, 5280}.
{ejabberd_string_format, bin}.

%% Use XMPP in-band registration for creating/deleting test users
{escalus_user_db, xmpp}.
{escalus_xmpp_server, escalus_mongooseim}.




%% Use modules that implement the escalus_user_db behaviour:
%% {escalus_user_db, {module, escalus_ejabberd}}. % RPC-based registration
%% {escalus_user_db, {module, YourModule}}.
%% {escalus_user_db, {module, YourModule, ListOfOptions}}.

{escalus_users, [
    {alice, [
        {username, <<"alice">>},
        {server, <<"localhost">>},
        {password, <<"mapsa">>}]},
    {bob, [
        {username, <<"bob">>},
        {server, <<"localhost">>},
        {password, <<"majajo">>}]},
    {pipik, [
        {username, <<"pipik">>},
        {server, <<"localhost">>},
        {password, <<"gowno">>}]},
    {carol, [
        {username, <<"carol">>},
        {server, <<"localhost">>},
        {password, <<"jinglebells">>},
        {transport, bosh},
        {path, <<"/http-bind">>},
        {port, 5280}]},
    {carol_s, [
        {username, <<"carol_s">>},
        {server, <<"localhost">>},
        {password, <<"jinglebells_s">>},
        {transport, bosh},
        {ssl, true},
        {path, <<"/http-bind">>},
        {port, 5285}]},
    {kate, [
        {username, <<"kate">>},
        {server, <<"localhost">>},
        {password, <<"makrowe;p">>}]},
        %%{port, 5280},
        %%{transport, bosh}]},
    {mike, [
        {username, <<"mike">>},
        {server, <<"localhost">>},
        {password, <<"nicniema">>}]},
    {geralt, [
        {username, <<"geralt">>},
        {server, <<"localhost">>},
        {password, <<"witcher">>},
        {transport, ws},
        {port, 5280},
        {wspath, <<"/ws-xmpp">>}]}



]}.

{escalus_server2_users, [
    {alice2, [
        {username, <<"alice">>},
        {server, <<"localhost2">>},
        {host, <<"localhost">>},
        {port, 5232},
        {password, <<"makota2">>}]}
]}.


{ejabberd_nodes, [
    internal_mnesia
]}.

{ejabberd_presets, [
    {internal_mnesia, [
        {sm_backend, "{mnesia, []}"},
        {auth_method, "internal"}]}
]}.

